
Abaqus2Matlab/Data/23-0217-Wavy-Thick_Width_Sweep/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_40_tet/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_40_tet_test.dat
Abaqus2Matlab/Data/23-0217-Wavy-Thick_Width_Sweep/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_40_tet/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_40_tet_test.inp
Abaqus2Matlab/Data/23-0217-Wavy-Thick_Width_Sweep/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_40_tet/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_40_tet_test.odb
Abaqus2Matlab/Data/23-0217-Wavy-Thick_Width_Sweep/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_45_tet/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_45_tet_test.dat
Abaqus2Matlab/Data/23-0217-Wavy-Thick_Width_Sweep/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_45_tet/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_45_tet_test.inp
Abaqus2Matlab/Data/23-0217-Wavy-Thick_Width_Sweep/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_45_tet/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_45_tet_test.odb
Abaqus2Matlab/Data/23-0217-Wavy-Thick_Width_Sweep/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_50_tet/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_50_tet_test.dat
Abaqus2Matlab/Data/23-0217-Wavy-Thick_Width_Sweep/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_50_tet/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_50_tet_test.inp
Abaqus2Matlab/Data/23-0217-Wavy-Thick_Width_Sweep/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_50_tet/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_50_tet_test.odb
Abaqus2Matlab/Data/23-0217-Wavy-Thick_Width_Sweep/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_55_tet/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_55_tet_test.dat
Abaqus2Matlab/Data/23-0217-Wavy-Thick_Width_Sweep/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_55_tet/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_55_tet_test.inp
Abaqus2Matlab/Data/23-0217-Wavy-Thick_Width_Sweep/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_55_tet/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_55_tet_test.odb
Abaqus2Matlab/Data/23-0217-Wavy-Thick_Width_Sweep/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_60_tet/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_60_tet_test.dat
Abaqus2Matlab/Data/23-0217-Wavy-Thick_Width_Sweep/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_60_tet/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_60_tet_test.inp
Abaqus2Matlab/Data/23-0217-Wavy-Thick_Width_Sweep/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_60_tet/ShearWavyWidth1_6.25MMDisp_Amp_0.6MM_Prd_4_Width_60_tet_test.odb
Abaqus2Matlab/Data/SingleCompression_6X6X1_0.15MMDisp_tet/SingleCompression_6X6X1_0.15MMDisp_tet_test.dat
Abaqus2Matlab/Data/SingleCompression_6X6X1_0.15MMDisp_tet/SingleCompression_6X6X1_0.15MMDisp_tet_test.inp
Abaqus2Matlab/Data/SingleCompression_6X6X1_0.15MMDisp_tet/SingleCompression_6X6X1_0.15MMDisp_tet_test.odb
Abaqus2Matlab/DefGrad_sim_v9.m
Abaqus2Matlab/Functions/genMesh.m
Abaqus2Matlab/Simulations_tet/23-0202-Wavy-Thick_Amp_Sweep/MRI-3Ddefs_SimpleShear_23-0202-Wavy-Thick_Amp_Sweep.mat
Abaqus2Matlab/Simulations_tet/23-0202-Wavy-Thick_Amp_Sweep/refpositions.mat
Abaqus2Matlab/Simulations_tet/23-0202-Wavy-Thick_Prd_Sweep/MRI-3Ddefs_SimpleShear_23-0202-Wavy-Thick_Prd_Sweep.mat
Abaqus2Matlab/Simulations_tet/23-0202-Wavy-Thick_Prd_Sweep/refpositions.mat
Abaqus2Matlab/Simulations_tet/23-0217-Wavy-Thick_Width_Sweep/MRI-3Ddefs_SimpleShear_23-0217-Wavy-Thick_Width_Sweep.mat
Abaqus2Matlab/Simulations_tet/23-0217-Wavy-Thick_Width_Sweep/refpositions.mat
Decomposition_Sensititivity/23-0202-Wavy-Thick_Amp_Sweep/MRI-3Ddefs_SimpleShear_23-0202-Wavy-Thick_Amp_Sweep.mat
Decomposition_Sensititivity/23-0202-Wavy-Thick_Amp_Sweep/refpositions.mat
Decomposition_Sensititivity/23-0202-Wavy-Thick_Amp_Sweep/sensitivity.mat
Decomposition_Sensititivity/23-0202-Wavy-Thick_Prd_Sweep/MRI-3Ddefs_SimpleShear_23-0202-Wavy-Thick_Prd_Sweep.mat
Decomposition_Sensititivity/23-0202-Wavy-Thick_Prd_Sweep/refpositions.mat
Decomposition_Sensititivity/23-0202-Wavy-Thick_Prd_Sweep/sensitivity.mat
Decomposition_Sensititivity/23-0217-Wavy-Thick_Width_Sweep/MRI-3Ddefs_SimpleShear_23-0217-Wavy-Thick_Width_Sweep.mat
Decomposition_Sensititivity/23-0217-Wavy-Thick_Width_Sweep/refpositions.mat
Decomposition_Sensititivity/23-0217-Wavy-Thick_Width_Sweep/sensitivity.mat
Decomposition_Sensititivity/23-0405-SingleCompression/MRI-3Ddefs_SimpleShear_23-0405-SingleCompression.mat
Decomposition_Sensititivity/23-0405-SingleCompression/Pics/23-0405-SingleCompression_0.png
Decomposition_Sensititivity/23-0405-SingleCompression/refpositions.mat
Decomposition_Sensititivity/23-0405-SingleCompression/sensitivity.mat
